*{
    font-family: "ununtu", sans-serif;
   padding: 0;
    margin: 0;
}
  
body{
    display: flex;
    background-color:white;
    flex-wrap: wrap;
    overflow: scroll;
    font-size: 20px;
    margin-bottom: 500px;
    
}
header{
    width: 100%;
    height: 35px;
    background-color:rosybrown;
    padding: 20px;
    margin: 0;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: 10px 15px; 
    background-size: 50px;
  
}
nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 4px;
    margin: 0;
    padding: 3px;
    background-color: #dddddd;
}
nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 14px 80px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
}
nav a:hover{
    background-color: white;
}
#menu{
    transition: 0.8s;
    
}
.sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
}
.all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
.sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
}
  
@media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
    }
}
.dark-mode {
    background-color: black;
    color: white;
    
}
  

#applications, #compilers {
    display: block;
    background-color: gainsboro; 
    height: 40px;
    margin: 30px;
}
  
#applications h2, #compilers h2 {
    color: #5e0b7a; 
    
}
ul{
    background-color: #dddddd;
    margin: 10px;
}    
.language-image {
    width: 100px; 
    height: auto;
    margin: 10px;
}
