body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}
header{
    width: 1435px;
    height: 35px;
    background-color:rosybrown;
    padding: 20px;
    margin: 0;
    padding-right: 55px;
    text-align: center;
    padding-bottom: 20px;
  
}
.logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: -70px;
    right: 520px;
}
nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 9px;
    margin: 0;
    padding: 4px;
    background-color: #dddddd;
}
nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 14px 80px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
}
nav a:hover{
    background-color: white;
}
#menu{
    transition: 0.8s;
    
}
.sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
}
.all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
}
.sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
}
  
@media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
  }
}
.dark-mode {
    background-color: black;
    color: white;
    
}
  
.dark-mode h2{
    color:white;
    border-color:cornsilk;
}  
h1{
    color:  #710471;

}
h2{
    color:  #710471;
}

h3{
    color:  #710471;
} 

h4{
    color:  #710471;
}

.language-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 500px;
}
.language-image {
    width: 400px;
    margin-right: 10px;
}
.language-links {
    display: flex;
    flex-direction: column;
}
.language-link {
    margin-bottom: 5px;
}

.purple-text {
    color: #710471;
}

.frame{
    border: 2px solid #000;
    padding: 20px;
    float: right;
    right: -40px;
    position: absolute;
    top: 20px;
    transform: scale(0.9);
    height: 2110px;
    margin-top: 80px;
    width: 1000px;
    margin-right: 0;
}