header{
    width: 1510px;
    height: 35px;
    background-image:url(../images/y.jpg);
    padding: 60px;
    margin: 0;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
  
  }
  
  .logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: 0;
    left: 2px;
    margin-top: 20px;
  }
  nav {
    list-style-type: none;
    overflow: hidden;
    width: 1570px;
    font-size: 20px;
    position: relative;
    opacity: 0.8;
    left: -100px;
    margin: 0;
    margin-top: -80px;
    padding: 5px;
    background-color:#f1f1f1;
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 14px 80px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: rgb(235, 27, 27);
  }
  #menu{
    transition: 0.8s;
    
  }
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
  .sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
 }
}
  
#profile {
    width: 60px;
    position: relative;
    border-radius: 100%;
    left:400px ;
    top: -80px;
}
#profilename {
    position: relative;
    left: 400px;
    top: -90px;
    white-space: nowrap;
    text-decoration: none;
    color: #dddddd;
    font-size: 35px;
}
html{
    background-image:url(../images/py1.jpg);
}
li{
color: rgb(200, 195, 205);
font-size: large;

}
li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
a{
text-align: center;
font-size: 70px;
}


h1 {
text-align: center;
background-color: #f9defd;
color: rgb(86, 24, 108);
font-family: verdana;
font-size: 300%;
}
h1:hover{
cursor: pointer;
transform: scale(1.1);
}

h2{
color: #f5f2f7;
cursor: pointer;
}

h3:hover{
cursor: pointer;
transform: scale(1.1);
}

h3{
color: #f2c9f7;
}

p:hover{
cursor: pointer;
}

p {
color: rgb(237, 208, 252);
font-family: Arial;
font-size: 150%;
}
#myProgress {
    width: 100%;
    background-color: #d19be3;
  }
  
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color: #f5d5f6;
    text-align: center;
    line-height: 30px;
    color: rgb(90, 33, 130);
}
.pros-cons-table:hover{
    cursor: pointer;
transform: scale(1.1);
}

.pros-cons-table {
margin-left: 120px;
font-size: 15px;
width: 70%;
left: 500px;
border-collapse: collapse;
}
.pros-cons-table th,
.pros-cons-table td {
border: 1px solid #c169f1;
padding: 8px;
}

.pros-cons-table th {
background-color: #694390;
text-align: left;
}
.pros-column {
background-color: #edc7ed;
}
.cons-column {
background-color: #e0bef9;
}
.rounded-img {
    border-radius: 50%; /* This will make the image round */
    float: left; /* This will align the image to the left */
    margin: 10px; /* This adds some space around the images */
    width: 100px; /* Set the width of the images */
    height: 100px; /* Set the height of the images */
  }
  /* Clearfix to contain the floated images */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.video-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.video {
    width: 45%; /* Adjust the width as needed */
}
* {
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #f3dbf6;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(167, 81, 214, 0.596)
  }
  
  .price .header {
    background-color: #6d0a9e;
    color: rgb(243, 222, 250);
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #cc85f8;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #370452;
    font-size: 20px;
  }
  
  .button {
    background-color: #9e29f2;
    border: none;
    color: rgb(239, 206, 251);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}
