header{
  width: 100%;
  height: 35px;
  background-color:rosybrown;
  padding: 20px;
  margin: 0;
  padding-right: 50px;
  text-align: center;
  padding-bottom: 20px;    
}
.logo img{
  width: 45px;
  height: 45px;
  position: relative;
  top: -30px;
  right: 650px;
  margin-top: 20px;
}
nav {
  list-style-type: none;
  overflow: hidden;
  font-size: 1px;
  margin: 0;
  padding: 3px;
  background-color: #dddddd;
}
nav a{
  display: inline;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 14px 80px;
  margin: 0;
  overflow: hidden;
  background-color: #dddddd;
}
nav a:hover{
  background-color: white;
}
#menu{
  transition: 0.8s;    
}
.sidemenu{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(123, 200, 187, 0.708);
  overflow-x: hidden;
  transition: 0.5s;
}
.all-menu{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.sidemenu a{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidemenu a:hover, .sidemenu  a:focus{
  color: #f1f1f1;
}
.sidemenu .closebtn{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;     
}    
@media screen and (max-height: 450px) {
  .sidemenu a {font-size: 40px}
  .sidemenu .closebtn {
  font-size: 60px;
  top: 15px;
  right: 35px;
  }
}
.profilemini {
  position: absolute;
  right: 0px;
  top: 0px;
}
#profile {
  width: 40px;
  border-radius: 100%;
  position: relative;
  right: 430px;
  top: 20px;
}
#profilename {
  position: absolute;
  right: 280px;
  top: 30px;
  white-space: nowrap;
  text-decoration: none;
  color: #dddddd;
}  
/* Start Variables */
:root {
  --main-color: rgb(185, 125, 240) ;
  --transparent-color: rgba(255, 255, 255, 0.7);
  --section-padding: 100px;
  --primary-color:#f6f7f8;
  --secondary-color:#1e2021;
}
.dark-theme{
  --primary-color:#1e2021;
  --secondary-color:#f6f7f8;
}
  /* End Variables */
  /* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#icon{
  position: absolute;
  font-size: 28px;
  width: 10px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
ul {
  list-style: none;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
  /* Small */
@media (min-width: 800px) {
  .container {
    width: 8000px;
  }
}
  /* Medium */
@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}
  /* Large */
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
  /* End Global Rules */

/* Start Header */

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.li-hidden{
  display: none;
}
.dropbtn .menu {
  
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition: all 1s;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
  padding: 20px 16px; /* Adjusted padding for vertical centering */
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition */
  list-style-type: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(42, 72, 81, .85);
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  right: calc(0% ); /* Adjusted right positioning */
}



.ul-page-total .home{
  color: #bc66dc;   
  font-size: large; 
}

.dropdown-content a {
  width: 100%;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.dropdown-content a:hover {
  background-color: #bc66dc;
color: white;
transition: 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;

  
}


/* End Header */
/* START landing*/



.centered {
  max-width: 600px;
}

.landing {
  background-image: url(../images/leeloothefirst.jpg);
  background-size: cover;
  height: calc(90vh - 10px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 60%;
  text-align: center;
  transform: translate(-50%, -50%);
  width:600px ;
  max-width: 100%;
  
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 5rem;
  color: #fff;
  
}
.landing .intro-text h3 {
  font-size: 19px;
  padding-top: 50px;
  line-height: 1.8;
  color: #000000;
  width: 600px;
  margin: 0;
  
}
/*END landing*/ 
  /*the FAQ section */

  section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
  }
  .title {
    padding-top:1rem;
    
    margin: 2rem 0rem;
    align-self: center;
  }
  .title h2{
  font-size: 2.5rem; 
  }
  .faq {
    max-width: 1132px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;

  }
  .question {
    display: flex;
    justify-content: space-between;
    align-self: center;
    
  }
  .question h3{
    font-size:1.5rem ;
    padding-bottom: 1rem;
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    position: relative;
    padding-left: 30px; /* Increase the padding to accommodate the vertical line */
    border-left: 2px solid var(--secondary-color); /* Add a border to create the vertical line */
  }
  
  
  .answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
  }

  .faq.active .answer {
    max-height: 300px;
    animation:fade 1s ease-in-out ;
  }


  
  
  


  .faq.active svg{
    transform: rotate(180deg);
  }

  svg{
    transition: transform .5s ease-in;
  }

  @keyframes fade{
    from{
      opacity: 0;
      transform: translateY(-10px);
    }
    to{
      opacity: 1;
      transform: translatey(0px);
    }
  }
   /* END the FAQ section */
   
    /*start footer  */
    * {
      margin: 0;
      padding: 0;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .pg-footer {
      font-family: 'Roboto', sans-serif;
    }
    
    
    .footer {
        background-color: #000000;
        
        
        padding-top: 1px;;
    }
    .footer-wave-svg {
        background-color: #000000;
        display: block;
        height: 30px;
        position: relative;
        top: -1px;
        width: 100%;
    }
    .footer-wave-path {
        fill:var(--primary-color);
    }
    
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 0px 16px 284px;
        position: relative;
    }
    
    .footer-content-column {
        box-sizing: border-box;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        color: #fff;
    }
    
    .footer-content-column ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    .footer-logo-link {
        display: inline-block;
    }
    .footer-menu {
        margin-top: 30px;
    }
    
    .footer-menu-name {
        color: #fffff2;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: .1em;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
    }
    .footer-menu-list {
        list-style: none;
        margin-bottom: 0;
        margin-top: 10px;
        padding-left: 0;
    }
    .footer-menu-list li {
        margin-top: 5px;
    }
    
    .footer-call-to-action-description {
        color: #fffff2;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .footer-call-to-action-button:hover {
        background-color: #fffff2;
        color: rgb(185, 125, 240) ;
    }
    .button:last-of-type {
        margin-right: 0;
    }
    .footer-call-to-action-button {
        background-color: #bc66dc;
        border-radius: 21px;
        color: #fffff2;
        display: inline-block;
        font-size: 11px;
        font-weight: 900;
        letter-spacing: .1em;
        line-height: 18px;
        padding: 12px 30px;
        margin: 0 10px 10px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .2s;
        cursor: pointer;
        position: relative;
    }
    .footer-call-to-action {
        margin-top: 30px;
    }
    .footer-call-to-action-title {
        color: #fffff2;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: .1em;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
    }
    .footer-call-to-action-link-wrapper {
        margin-bottom: 0;
        margin-top: 10px;
        color: #fff;
        text-decoration: none;
    }
    .footer-call-to-action-link-wrapper a {
        color: #fff;
        text-decoration: none;
    }
    
    
    
    
    
    .footer-social-links {
        bottom: 0;
        height: 54px;
        position: absolute;
        right: 0;
        width: 236px;
    }
    
    .footer-social-amoeba-svg {
        height: 54px;
        left: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 236px;
    }
    
    .footer-social-amoeba-path {
        fill: rgb(185, 125, 240) ;
    }
    
    .footer-social-link.linkedin {
        height: 26px;
        left: 3px;
        top: 11px;
        width: 40px;
    }
    
    .footer-social-link {
        display: block;
        padding: 10px;
        position: absolute;
    }
    
    .hidden-link-text {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px,1px,1px,1px);
        -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
        clip-path: inset(0px 0px 99.9% 99.9%);
        overflow: hidden;
        height: 1px;
        width: 1px;
        padding: 0;
        border: 0;
        top: 50%;
    }
    
    .footer-social-icon-svg {
        display: block;
    }
    
    .footer-social-icon-path {
        fill: #fffff2;
        transition: fill .2s;
    }
    
    .footer-social-link.twitter {
        height: 28px;
        left: 62px;
        top: 3px;
        width: 55px;
    }
    
    .footer-social-link.youtube {
        height: 24px;
        left: 123px;
        top: 12px;
        width: 40px;
    }
    
    .footer-social-link.github {
        height: 34px;
        left: 172px;
        top: 7px;
        width: 50px;
    }
    
    .footer-copyright {
        background-color: rgb(185, 125, 240) ;
        color: #fff;
        padding: 15px 30px;
      text-align: center;
    }
    
    .footer-copyright-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
    
    .footer-copyright-text {
      color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .footer-copyright-link {
        color: #fff;
        text-decoration: none;
    }
    
    
    
    
    
    
    
    /* Media Query For different screens */
    @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
      .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
      }
    }
    @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
      .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
      }
    }
    @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
      .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
      }
    }
    @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    
    }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    
    }
    @media (min-width:1281px) { /* hi-res laptops and desktops */
    
    }
    
    
    
    
    @media (min-width: 760px) {
      .footer-content {
          margin-left: auto;
          margin-right: auto;
          max-width: 1230px;
          padding: 0px 16px 284px;
          position: relative;
      }
    
      .footer-wave-svg {
          height: 50px;
      }
    
      .footer-content-column {
          width: 24.99%;
      }
    }
    @media (min-width: 568px) {
      /* .footer-content-column {
          width: 49.99%;
      } */
    }

    /*END footer  */